﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-image : url('gray_jean.png');
}

html, body {
    margin : 0;
    padding : 0;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    line-height: 0px;
}

table.configTable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    line-height: normal;
}

table.configTable {
    margin-bottom : 5px;
}

th, td {
    padding: 5px;
}

div.menu {
    height: 24px
}

div.menu li {
    right: 0;
    position: absolute;
    top: 0
}

#menu ul li ul {
    display: none;
}

#menu ul li {
    float: left;
    list-style: none;
}

.menuItem {
    color: blue;
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size : 20px;
}

.divcolumn {
    display : inline-table;
    margin-left : 30px;
    width: 250px;
}

.cellRelated {
    background-color : red;
}

.cellSelected {
    background-color: lightsteelblue;
}

.titlerow {
    border-bottom : 1px solid black;
    display : inline-block;
}

.divrow {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 70%;
    height: 750px;
    font-size: large;
    white-space: nowrap;
    overflow: auto;
    float: left;
}

.logrow {
    padding: 10px;
    float: right;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 30%;
    height: 750px;
    font-size: large;
    white-space: nowrap;
    overflow: auto;
}

.labelStyle {
    font-size: 17px;
}